/* 모든 페이지에서 사용할 CSS 파일 */

/* 글꼴 */
/* 1. 제목(레코체) */
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. 넥슨 Lv2 고딕 */
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 텍스트 설정 */

/* 크기 */
h1 { font-size:45px; }
h2 { font-size:40px; }
h3 { font-size:30px; }
h4 { font-size:25px; }
h5 { font-size:20px; }
h6 { font-size:15px; }

/* 글꼴 + 태그 선택자 */
body, p, div, span, ul, ol, li, dl, dt, dd, table, th, td, a, blockquote, textarea, fieldset, small, strong, b, i, em {
    font-family: 'NEXON Lv2 Gothic';
    color:#555;
    line-height:1.5em;
    font-size:15px;
}

/* 제목 강조 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Recipekorea';
    color:#5B8E7D;
}

/* 일반 강조 */
strong, b {
    font-family: 'NEXON Lv2 Gothic';
    color:#5B8E7D;
}

/* 텍스트 박스 설정 */

textarea {
    resize:none;
}

.noline {
    outline: none;
}

.form-control:focus {
    box-shadow:none;
    border-color:#ccc;
}

.small {
    width:200px;
}

.medium {
    width:300px;
}

.large {
    width:400px;
}

/* 인라인 */

.inline {
    display:inline;
}

/* 여백 설정 */

header {
    margin-top:30px;
}

footer {
    margin-bottom:30px;
}

/* 링크 설정 */

a:hover {
    text-decoration: none;
    color:#F4A259;
    border:none;
    font-weight:bold;
}

/* header의 navbar */

.title {
    margin:10px;
}

.navbar {
    background-color: #F4E285;
    border:none;
}

.nav > li > a:hover {
    background-color:transparent;
}

.nav > li > a:active {
    background-color:transparent;
}

.nav > li> a:visited {
    background-color:transparent;
}

ul {
    width:105%;
}

li {
    width:16%;
    text-align:center;
}

/* 도서표지 이미지 크기 설정 */

.book-sm {
    width:130px;
}

.book-md {
    width:170px;
}

.book-lg {
    width:210px;
}

/* 버튼 설정 */

.btn-general {
    background-color:#BC4B51;
    color:white;
}

.btn-general:hover {
    background-color: transparent;
    border:1px solid #ccc;
    color:#F4A259;
}

/* 테이블 크기 설정 */

.tbl-sm {
    width:650px;
}

.tbl-md {
    width:850px;
}

.tbl-lg {
    width:1000px;
}